html,body{
}

#main{
    position:relative;
    top:10%;
    left:20%;
    width:60%;
    height:60%;
    
    border:3px solid red;
}

#mainFrame{
	position:relative;
	top:20%;
	left:20%;
	width:60%;
	height:60%;
	
	border:1px solid black;
}

#getNextMotivator{
	position:relative;
    left:20%;
    width:60%;
    height:10%;
    margin-top:2%;
    border:1px solid black;
}

#getNextMotivatorBtn{
	
}


