<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">


    
	
	<http auto-config="true" use-expressions="true">
		
	
		<!--  Rest of the site   -->
		
		<!--  css and js files need to have permissions ... -->
		<intercept-url pattern="/resources/**/**" access="isAnonymous() or isFullyAuthenticated()" />
			
		<!--  no authentication required  -->
		<intercept-url pattern="/newindex" access="isAnonymous() or isFullyAuthenticated()" />
		
        <!--  4 TEMPLATE  DEVELOPMENT -->
		<intercept-url pattern="/index2" access="isAnonymous() or isFullyAuthenticated()" />
			
		<intercept-url pattern="/**" access="isAnonymous() or fullyAuthenticated" />
		
		
		<form-login 
		login-page="/login" 
		default-target-url="/" 
		authentication-failure-url="/loginFAIL" />
		<logout logout-success-url="/logout" />		<!--  to always redir  always-use-default-target="true" -->
			     
	           
	</http>

	
	<authentication-manager>
		<authentication-provider>
			<user-service>
					<user name="123" password="123" authorities="0" />
					<user name="adminxml" password="123" authorities="666" />
					<user name="qwe" password="qwe" authorities="666" />
					<user name="login" password="pass" authorities="666" />
			</user-service>
<!--  change for mysql-->			
			<jdbc-user-service data-source-ref="ssDataSource"
 		   users-by-username-query="select login,passwd,enabled from user where login= '?'"
 		   
 		   authorities-by-username-query= "select login,usertype from user where login ='?'  "
 		      />

 		</authentication-provider>
	</authentication-manager>

   










</beans:beans>