<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

         
 <display-name>Blog</display-name>
  
  
  
  
  <display-name>Spring MVC Application</display-name>
 
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet
                </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- 
    I have had issues before with tomcat not serving static content with a /* servlet mapping. 
    The way I solved it was to explicitly map each content type in web.xml, including .css files, like so: 
    
    Mapping other files then *.jsp
    -->
    <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.css</url-pattern>  
</servlet-mapping>

    <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.js</url-pattern>  
</servlet-mapping>


    <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.jpg</url-pattern>  
</servlet-mapping>

<!--  turned off for efficient error reading
<error-page>
    <error-code>404</error-code>
    <location>/errors/404.jsp</location>
</error-page>
<error-page>
    <error-code>403</error-code>
    <location>/errors/403.jsp</location>
</error-page>
<error-page>
    <error-code>500</error-code>
    <location>/errors/500.jsp</location>
</error-page>

  -->
  
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        /WEB-INF/mvc-dispatcher-servlet.xml
        </param-value>
<!-- 
        /WEB-INF/ss-datasource.xml,
        /WEB-INF/spring-security.xml
 -->        
</context-param>

<!--  CONTEXT LOADER LISTENER -->

<listener>
        <listener-class>
                      org.springframework.web.context.ContextLoaderListener
                </listener-class>
    </listener>
  <listener>
    <listener-class>
                        inspire.config.DBConfig
</listener-class>
  </listener>
  
  
    <!-- SPRING SECURITY
    
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

     -->
    
    
    
    
    
    
    
</web-app>